@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

@tailwind base;
@tailwind components;
@tailwind utilities;


p {
  @apply text-lg font-light;
}

.marquee {
  overflow: hidden;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
}



@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

.enable-animation .marquee-content {
  animation: scroll 10s linear infinite;
}

.marquee:hover .marquee-content {
  animation-play-state: paused;
}